.a {
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.Button {
    background: white;
    color: white;
}

.Button:hover {
    cursor: pointer;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 6px;
}

.legal_name {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 4px;
}

.userFrom {
    background-size: 100%;
    padding-top: 13em;
    padding-bottom: 1em;
    left: 10px;
    background-image: url("../assets/images/1.jpg");
    padding-bottom: 6em;
}

.userFrom{
    background-size: 100%;
    padding: 24em;
    vertical-align: top;
    background-image: url("../assets/images/1.jpg");
    width: 100%;
    padding-top: 5em;
    background-repeat: no-repeat;
    padding-bottom: 2em;
}

.Start,
.Start-register {
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 0px;
    margin-left: 27em;
    padding: 15px 20px;
    width: 420px;
    display: block;
}

.Start {
    padding-top: 2em;
    margin-left: 50em;
    padding: 2em;
    margin-top: 33px;
}

.recover_account {
    color: white;
    display: block;
    text-decoration: none;
}

label {
    color: wheat;
}
